<div class="panel panel-default">
  <div class="panel-heading"> <h2>Edit secret: <%= @secret.name %></h2> </div>

  <%= render("form.html", action: secret_path(@conn, :update, @secret), secret: @secret) %>

  <%= link "Back", to: secret_path(@conn, :index) %>
</div>