<tr>
  <td><%= @secret.name %></td>
  <td><%= link @secret.url, to: @secret.url, target: "_blank" %></td>
  <td><%= @secret.username %></td>
  <td><%= @secret.password %></td>
  <td><%= @secret.notes %></td>
  <td><span><%= link "Edit", to: secret_path(@conn, :edit, @secret), class: "btn btn-default btn-xs" %></span></td>
  <td><span><%= link "Delete", to: secret_path(@conn, :delete, @secret), method: :delete, data: [confirm: "Are you sure you want to delete this secret?"], class: "btn btn-danger btn-xs" %></span></td>
</tr>